[2022-09-26 11:15] SauveJeanLuc opened #1 "Implement a way to close Add Task Pop-Up"
The current "Add Task Pop-Up" provides no way to close it.

![image](https://user-images.githubusercontent.com/68426990/192262969-dcc0309d-6af4-4188-9683-3956032fddca.png)

[2022-09-26 12:40] aswinikalyan30 commented on #1
Can I take this up?

[2022-09-26 13:00] SauveJeanLuc commented on #1
Yup, It's yours @aswinikalyan30

[2022-09-26 13:06] SauveJeanLuc opened #2 "Add Create New Task Functionality"
There's currently no way to create a new task.
**NB:** This should be done by using Local Storage.

[2022-09-26 13:12] saimaheshtaduri commented on #2
can I work on this issue ? assign it to me. @SauveJeanLuc

[2022-09-26 13:14] SauveJeanLuc opened #3 "Update existing task"
There's currently no way to update an existing Task.
**NB:**
* This should be done by using Local Storage.
* This waits for issue #2

[2022-09-26 13:16] SauveJeanLuc opened #4 "Make an Appealing README for #Hacktoberfest Contestants"
The current README.md file seem to need some improvements to make it more appealing.

[2022-09-26 13:16] SauveJeanLuc commented on #2
Yup, It's yours @saimaheshtaduri

[2022-09-26 13:22] SauveJeanLuc opened #5 "Add Delete Existing Task Functionality"
There's currently no way to delete an existing Task.
**NB:**
* This should be done by using Local Storage.
* This waits for issue #2

[2022-09-26 13:27] SauveJeanLuc opened #6 "Fix Link To Figma Design in README"
Currently the link to Figma in README is not even being recognised as hyperlink.

![image](https://user-images.githubusercontent.com/68426990/192288670-f9214d24-7755-4965-8b29-a21f5920d273.png)

[2022-09-26 13:28] SauveJeanLuc opened #7 "Implement Project's CI/CD and Have it Hosted"
Project needs to go live both for test and production

[2022-09-26 16:02] suryansh-bhatnagar commented on #3
Hey @SauveJeanLuc  can i work on this issue??

[2022-09-26 16:17] jchrobakk commented on #6
You can assign this to me

[2022-09-26 16:29] #6 closed

[2022-09-26 16:29] SauveJeanLuc commented on #5
Yup, It's yours @ItzNesbroDev

[2022-09-26 16:38] SauveJeanLuc opened #9 "Add Pull-Request Template For The Repo"
This repo needs a Pull-Request Template that should be used by all Contributors raising a PR.

[2022-09-26 16:53] SauveJeanLuc opened #10 "Make a Mobile-Version Mock-Up for the Project on Figma"
Project needs a mobile-version design on Figma.

 To get started, make a request for Edit Privileges on the
 [Figma Design](https://www.figma.com/file/2DdRHkoszU7lxTvcyBchJ8/React-TODO?node-id=0%3A1) And Thereafter, CREATE A PR/MR TO TRACK IT

[2022-09-26 16:56] Gismo1337 commented on #9
Issue is done.
Still wating for the registration at hacktoberfest.
Do the PR after success.

[2022-09-26 17:01] SauveJeanLuc commented on #7
@adarshajit  IMHO, CircleCI is the best among the options.
Besides, Netlify and Vercel have some things good to offer to.

[2022-09-26 17:01] SauveJeanLuc commented on #9
Yup, Good job @Gismo1337

[2022-09-26 17:07] SauveJeanLuc opened #11 "Add Issue Template For The Repo"
This repo needs an Issue Template that should be used by all Contributors raising an Issue.

[2022-09-26 17:16] SauveJeanLuc opened #15 "Add List Tasks by Category Functionality"
Users should be able to list tasks by category (All - Complete - Incomplete)

![image](https://user-images.githubusercontent.com/68426990/192339841-83d45646-2c4d-4ada-9ba7-2508c610917b.png)

[2022-09-26 17:22] rutvikk05 commented on #11
Hello, I would like to work on this issue. Could you please assign it to me?

[2022-09-26 17:26] SauveJeanLuc commented on #11
Yup, It's yours @rutvikk05

[2022-09-26 17:31] SauveJeanLuc opened #16 "Add ES-Lint Configuration To The Project"
Projects need ESLint SetUp in order to make code more consistent and avoid bugs.

[2022-09-26 18:09] codegoggins commented on #15
Hey !
This is my very first time contributing to open source. How exactly should I contribute to this project ? I am new to Open Source , it would be great if you could help.

[2022-09-26 18:11] RohanKaran commented on #16
Hi @SauveJeanLuc , I would like to work on this.

[2022-09-26 18:49] kubahasek commented on #4
@SauveJeanLuc can I grab this please? Assuming I will be commiting on October 1st so it'd apply for hacktoberfest :)

Do you have anything in particular in mind?

[2022-09-26 19:00] SauveJeanLuc commented on #15
Glad to hear @codegoggins .
Welcome to the Open-Source Community 🎉

Do you usually code in react ?
And are you familiar with JavaScript ?

[2022-09-26 19:01] SauveJeanLuc commented on #16
Cool, It's yours @RohanKaran

[2022-09-26 19:02] SauveJeanLuc commented on #4
@kubahasek That would be great.

And This repo has been made with #hacktoberfest in mind.
All PRs are to be merged from the 1st of October.

[2022-09-26 19:15] Rick-mad-lab commented on #10
Can I work on this part?
I have already created some to-do templates before can you please assign this project to me?

[2022-09-26 19:16] SauveJeanLuc opened #18 "Position Placeholder in Add New Task Pop-Up"
The two placeholders should be on the same left margin.

![image](https://user-images.githubusercontent.com/68426990/192361221-efa654ba-5043-4402-85bd-fa435a8f89ec.png)

[2022-09-26 19:19] SauveJeanLuc commented on #10
Yup, Happy to have you joined 🎉
It's yours @Rick-mad-lab

[2022-09-26 19:19] codegoggins commented on #15
Thanks @SauveJeanLuc
I am familiar with JavaScript and have done some basic projects in React. But would love to learn new stuff and implement them.

[2022-09-26 19:19] Miteshhsingla commented on #18
hey i would like to provide the solution

[2022-09-26 19:22] SauveJeanLuc commented on #10
@Rick-mad-lab  You can give me your username or ask for an edit request, so I can give you the Edit Privileges.

[2022-09-26 19:23] SauveJeanLuc commented on #18
Yup, @Miteshhsingla It's yours.

[2022-09-26 19:25] Rick-mad-lab commented on #10
ok
Sharanya Mitra
sharanyamitra28@gmail.com
this is my details
give me editing privilege.

[2022-09-26 19:28] SauveJeanLuc commented on #15
Wow, That's exciting @codegoggins.
You can take reference to this [article](https://opensource.guide/how-to-contribute/#opening-a-pull-request)  if you are to make your first contribution then.

If you will, you can start with this task for your very first trial.
And I'll be there to assist wherever needed.

[2022-09-26 19:35] SauveJeanLuc opened #19 "Add Basic (CRUD) Functionalities in the Project's Mockup on Figma"
Currently, on the Project Mockup, only a Pop-Up to add a new task is designed.
The rest of the basic functionalities awaits your help, and it's on the UI/UX you'll provide that the whole project implementation will base.

 To get started, make a request for Edit Privileges on the
 [Figma Design](https://www.figma.com/file/2DdRHkoszU7lxTvcyBchJ8/React-TODO?node-id=0%3A1) And Thereafter, CREATE A PR

[2022-09-26 19:36] codegoggins commented on #15
@SauveJeanLuc Thanks for the task👍 . Will start implementing the feature .

[2022-09-26 19:38] SauveJeanLuc commented on #15
Great, I'm assigning it to you then 🙂

[2022-09-26 19:40] SauveJeanLuc commented on #10
Done @Rick-mad-lab , you now have the edit privilege.

U'd take a look on #19  too, If you will.

[2022-09-26 19:41] Miteshhsingla commented on #18
I guess if we add box-sizing = border-box; it should be solved.

[2022-09-26 19:48] SauveJeanLuc opened #20 "Make Add New Task Pop-Up responsive"
Currently the "Add New Task Pop-Up" fails on many responsiveness tests.

![image](https://user-images.githubusercontent.com/68426990/192366353-4f18888a-1e36-4a32-b66c-fcbe88659862.png)

![image](https://user-images.githubusercontent.com/68426990/192366475-802172cf-70d7-4bea-8158-369f8e13f943.png)

[2022-09-26 19:50] divyanshraj0408 commented on #20
Hey this seems interesting! I would like to work on this issue for hacktoberfest.

[2022-09-26 19:52] SauveJeanLuc opened #21 "Add Tailwind Set-up to Project"
The project is currently relying on vanilla CSS.
Add we want to add some tailwind in the ride, will you help 😺?

[2022-09-26 19:52] SauveJeanLuc commented on #20
Great @divyanshraj0408 .
It's yours.

[2022-09-26 19:53] Rick-mad-lab commented on #19
ok
I will work on this part too @SauveJeanLuc assign me.

[2022-09-26 19:53] Rick-mad-lab commented on #19
app is looking modern but too simple can I add more functionality?

[2022-09-26 19:55] SauveJeanLuc opened #22 "In Need Of Senior React Devs to Help in Project Maintenance 🙂"
Let's have a discussion on this in #14 🙂

[2022-09-26 19:58] codegoggins commented on #21
@SauveJeanLuc Hi Again !! I enjoy working with tailwind CSS . It would be great if you allow me to work on this .

[2022-09-26 20:00] SauveJeanLuc commented on #21
Cool, It's yours again 🙂 @codegoggins .

[2022-09-26 20:02] SauveJeanLuc commented on #19
Yh yh, It's yours again @Rick-mad-lab.
Go for it.

[2022-09-26 20:04] SauveJeanLuc commented on #19
But with any functionality other than basic CRUD, you can open an issue for it, and if accepted, then a PR to track Figma changes, and if all is accepted we merge everything by October 1st.

[2022-09-26 20:09] akhilsharmaa commented on #22
I Would like to be a Maintainer. It would be helpful if we could discuss the project.

[2022-09-26 20:17] Rick-mad-lab commented on #19
Okie

[2022-09-26 21:55] Onyelaudochukwuka commented on #22
I would love to help out with this 🍻

[2022-09-26 22:01] Onyelaudochukwuka commented on #21
I'll like to work with @codegoggins on this

[2022-09-26 22:06] Onyelaudochukwuka opened #23 "Mobile responsiveness optimizations"
Pop up needs some optimizations for mobile devices

![Screenshot_2022-09-26-23-04-28-754_com.android.chrome.jpg](https://user-images.githubusercontent.com/82924100/192389071-96b7f52d-35dd-4e6c-a37d-2854500dece6.jpg)

[2022-09-26 22:28] MarcosVel commented on #23
can I do it?

[2022-09-27 02:23] akhilsharmaa commented on #22
@SauveJeanLuc  I think we can fix the meet at 8:30 pm IST Today.
Here is my discord username ID - 750274392097030165.

[2022-09-27 05:57] SauveJeanLuc commented on #21
No prob @Onyelaudochukwuka .
Hope you are not raising different PRs on this though.

[2022-09-27 05:59] Onyelaudochukwuka commented on #21
I wasn't assigned so no..

[2022-09-27 06:00] Onyelaudochukwuka commented on #21
@codegoggins how are we going to go about collaborations?

[2022-09-27 06:00] SauveJeanLuc commented on #23
Thanks for your concern @Onyelaudochukwuka and @MarcosVel .
But this was already mentioned in #20 .

[2022-09-27 06:05] Onyelaudochukwuka commented on #23
Oh didn't notice it

[2022-09-27 06:05] #23 closed

[2022-09-27 06:29] Onyelaudochukwuka commented on #22
Absolutely, that'll be 4pm by my time zone no qualms with that 💪🏽

[2022-09-27 06:41] SauveJeanLuc commented on #22
Great,
@akhilsharmaa and @Onyelaudochukwuka ,
You can join the discord server through the invite: https://discord.gg/ZXBxStbA
And I'll add you to the maintainers channel.

[2022-09-27 06:51] Onyelaudochukwuka commented on #21
Mistakenly took out my assignment, sorry about that

[2022-09-27 13:03] SandeshGC commented on #20
Hey there! I would like to work on this too for hacktoberfest.

[2022-09-27 17:04] Substancia commented on #22
Is it too late for me to tag in?

[2022-09-27 18:54] aritroCoder commented on #18
is it too late now to work on this issue?

[2022-09-27 19:02] aritroCoder opened #24 "warning: Duplicate key "padding" in object literal"
![image](https://user-images.githubusercontent.com/92646038/192613213-c746e2f3-5503-4622-9d39-343a5d224364.png)

When we try to run the project in vite, it shows a warning, which should be resolved

[2022-09-27 19:23] SauveJeanLuc commented on #22
Nop, It's nvr too late @Substancia .
You can join the server and ask me to add you to maintainers channel.
We'll schedule a short meeting bfr you are accepted.

[2022-09-27 19:24] SauveJeanLuc commented on #18
Nop, You can co-author this with @Miteshhsingla .
Glad you are here 🎉

[2022-09-27 19:25] SauveJeanLuc commented on #24
That's awesome.
It's yours @aritroCoder

[2022-09-28 02:49] Vikramop commented on #10
Can I also try it cuz, I have also experience before in figma.
veervikramsingh132@gmail.com
here's my mail if u wish I can start soon if u'll add me.

[2022-09-28 04:47] thisisharsh7 commented on #22
@SauveJeanLuc  I'd like to contribute in this project as a hacktober project if there are any spots left

[2022-09-28 08:26] SauveJeanLuc commented on #10
Glad to have you joined @Vikramop 🎉 .

Aniwei @Rick-mad-lab , @Vikramop  and any designer wanting to join.
You can join this server https://discord.gg/ZXBxStbA and join the designers channel.

[2022-09-28 08:28] SauveJeanLuc commented on #10
We will have interesting brainstorming there 😎.
Make sure you tell me your username too 🙂

[2022-09-28 14:06] messiovo commented on #21
Can I join the team to work on it?

[2022-09-28 14:07] Onyelaudochukwuka commented on #21
Ok

[2022-09-28 14:07] Onyelaudochukwuka commented on #21
I'll add you as a contributor to my fork

[2022-09-28 14:11] Onyelaudochukwuka commented on #21
The link to the repo we'll be working with
https://github.com/Onyelaudochukwuka/coffee-tasks

[2022-09-28 17:33] degr8sid-code commented on #4
Can more than one person take over this task? I am also interested.

[2022-09-28 22:21] SauveJeanLuc commented on #1
Hey, @aswinikalyan30 hope you are raising a PR for this today.
We are getting it merged tomorrow.

[2022-09-29 02:21] Rudresh-pandey commented on #1
Hi, can i work on this?

[2022-09-29 03:10] aswinikalyan30 commented on #1
Hey, i thought this was part of hacktoberfest and was waiting for oct 1st

[2022-09-29 06:49] SauveJeanLuc commented on #1
Nop, u'll not have to wait for 1st October to raise a PR @aswinikalyan30 .
Hwvr, all PRs shall be merged from 1st October.

[2022-09-29 06:50] SauveJeanLuc commented on #1
You can talk to @aswinikalyan30 and see on how to co-author this with her.

[2022-09-29 09:22] aswinikalyan30 commented on #1
@Rudresh-pandey you can go ahead and work on this. I felt it was only a bug, but this seems huge as there are a lot of fixes to be done, and I am short of time.

[2022-09-29 09:59] SauveJeanLuc commented on #1
@aswinikalyan30 , you can still co-author this with @Rudresh-pandey .
There's always still a chance you know 🙂, and an opportunity to learn.

[2022-09-29 17:35] aritroCoder commented on #24
Just asking for small clarification, the PR I will make will fix both issue #18 and this issue together, so will there be any difficulty while merging my PR as another person is also working on the issue 18?

[2022-09-29 17:52] SauveJeanLuc commented on #24
@aritroCoder I think it doesn't necessarily have to fix #18.
You can still find a way to fix it without working on #18.

You can raise a PR on this and we'll talk about it.

[2022-09-30 08:47] SauveJeanLuc commented on #1
@Rudresh-pandey are you available for this?
Or we can assign it to another one in the mean time !?

[2022-09-30 20:59] saimaheshtaduri opened #29 "Making Popup buttons clickable"
The Buttons Add Task and Cancel should be responsive on click and hover events, so the end-user can know the button was clicked.

[2022-09-30 21:05] SauveJeanLuc commented on #29
![image](https://user-images.githubusercontent.com/68426990/193356068-9d350cfa-05a8-4960-ba13-f6bd0089618e.png)

[2022-10-01 00:08] #2 closed

[2022-10-01 00:43] aadi58002 commented on #29
Can i take this one ?

[2022-10-01 00:59] aadi58002 commented on #15
Can i also take part in this?

[2022-10-01 00:59] aadi58002 commented on #29
Can i also work on this issue?

[2022-10-01 01:00] aadi58002 commented on #1
Can i also take part in this pull request?

[2022-10-01 07:23] chamodperera commented on #29
Hi, can I work on this?

[2022-10-01 08:12] saimaheshtaduri commented on #29
@SauveJeanLuc  done adding the hover and clicks.
on clicking cancel, the popup has to close and its the function of another issue, so I left it the same.

please review and let me know if you need any updates.
Thanks :)

[2022-10-01 08:13] saimaheshtaduri commented on #29
@SauveJeanLuc can you add appropriate labels for this issue ?

[2022-10-01 08:48] SandeshGC commented on #20
Hi, @SauveJeanLuc ! I have worked on this issue without using media queries. I think it would have been easier if we were to create a CSS file for the styles. What do you think of it? Do you want me to use media queries or is it okay?
![smallest sc
![largest screen](https://user-images.githubusercontent.com/59115123/193401336-89b0c1fa-cacf-45b3-a106-f52e176bda5d.png)
reen](https://user-images.gith

[2022-10-01 08:49] SandeshGC commented on #20
Here is another screenshot for large screens:
![largest screen](https://user-images.githubusercontent.com/59115123/193401347-5fbb41bd-9d63-475f-a991-2e4095913f75.png)

[2022-10-01 10:52] SauveJeanLuc commented on #1
Yes @aadi58002 .
It's yours

[2022-10-01 11:38] #29 closed

[2022-10-01 11:46] SauveJeanLuc commented on #15
@aadi58002 .
Take it, no worries

[2022-10-01 14:07] #16 closed

[2022-10-01 16:52] aritroCoder commented on #18
Okay, can I create a PR for this issue now or I have to wait until hacktoberfest officially validates the other PR?

[2022-10-01 19:09] #22 closed

[2022-10-01 19:11] #18 closed

[2022-10-01 20:00] #24 closed

[2022-10-01 20:00] #7 closed

[2022-10-01 20:06] SauveJeanLuc commented on #20
That's fine.
Raise a PR for this.

[2022-10-01 20:08] SauveJeanLuc commented on #4
@degr8sid-code do you have anything else in mind ?

[2022-10-02 02:46] divyanshraj0408 commented on #20
Hey @SauveJeanLuc I think it is better for me to unassign myself from the issue, as @SandeshGC has done a phenomenal job in making the pop up responsive!

[2022-10-02 05:20] aritroCoder commented on #5
Can I work on this?

[2022-10-02 05:30] adi-uchiha commented on #21
Working on it, will soon create a PR

[2022-10-02 06:23] Onyelaudochukwuka commented on #21
We'll be creating a pull request tomorrow as we're nearly done

[2022-10-02 07:23] SauveJeanLuc commented on #20
No worries

[2022-10-02 07:23] SauveJeanLuc commented on #5
Yup, no prob @aritroCoder.

[2022-10-02 08:16] aritroCoder commented on #5
![image](https://user-images.githubusercontent.com/92646038/193444496-2ac1889d-af81-463f-b49d-d009d9acf1f6.png)
I want to point out some things we need to implement before doing this task.
1. To make the delete task button accessible, we need to fix another issue (issue 1, closing of the pop up)
2. To make delete task button work, we need to give a unique id to each task (again this is a part of t

[2022-10-02 09:57] akhilsharmaa opened #36 "Beautify README.md"
- Properly Align the texts.
- Fix Typo.
- Improve the Image
Show your creativity.

[2022-10-02 09:58] divyanshraj0408 commented on #36
Hey I would like to work on this issue, can you explain what kind of changes we want in the readme?

[2022-10-02 10:02] akhilsharmaa commented on #36
Yes @divyanshraj0408  you are good to go...

[2022-10-02 10:10] AyushSarode commented on #36
can you assign me for this project?

[2022-10-02 10:10] codeboyfriend commented on #36
Can I work on it??

[2022-10-02 11:49] #4 closed

[2022-10-02 15:59] adi-uchiha commented on #3
Working on this, will soon create a PR

[2022-10-02 18:38] adi-uchiha opened #42 "bug: Tasks are not showing up in UI"
The task are getting stored locally but they are not getting listed in the UI

https://user-images.githubusercontent.com/103348863/193470440-73e4bf45-5a3b-4c71-90da-22dd7ebd67ab.mp4

[2022-10-02 18:40] adi-uchiha commented on #42
@SauveJeanLuc
Can you please label this 'hacktoberfest'
I can make a PR on this issue

[2022-10-02 19:32] #1 closed

[2022-10-03 10:58] SauveJeanLuc commented on #42
done

[2022-10-03 11:00] SauveJeanLuc opened #45 "Pop-Up is way too big for desktop users"
The Pop-Up should have a moderate size for desktop users as well as staying responsive for mobile devices.

![image](https://user-images.githubusercontent.com/68426990/193561458-c987e644-8783-49fd-a0bd-6e52d9db128b.png)

[2022-10-03 14:16] prateek-1606 commented on #45
Hey @SauveJeanLuc . I can solve this issue . Can you assign it to me.
Thanks

[2022-10-03 15:58] #21 closed

[2022-10-03 17:47] #11 closed

[2022-10-03 17:55] SauveJeanLuc commented on #3
Looking forward to receiving it.

[2022-10-03 21:26] aleksanderwalczuk commented on #45
@SauveJeanLuc is there any design provided for that?

[2022-10-03 21:40] aleksanderwalczuk commented on #45
Ok, I've found it in the readme.

[2022-10-03 22:11] aleksanderwalczuk opened #48 "No id field for created task"
- [x] This is bug in the application 🐛
- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository

**Describe the bug** \
`addTask` functionality provides no `id` field for created task.

**Expected behavior** \
A clear and concise descrip

[2022-10-03 22:51] Sandyacvedo commented on #48
hey, can i work on this ?

[2022-10-04 04:55] kalyanikakade123 commented on #36
Can you assign this issue to me ?

[2022-10-04 08:08] aleksanderwalczuk commented on #48
@Sandyacvedo I think we should wait for the maintainer response.

[2022-10-04 08:13] SauveJeanLuc commented on #48
Yup, @Sandyacvedo and @aleksanderwalczuk you can go for it.

[2022-10-04 08:14] #45 closed

[2022-10-04 08:15] #9 closed

[2022-10-04 08:16] #20 closed

[2022-10-04 08:26] SauveJeanLuc opened #52 "Provide AI suggestions while creating a new Task (Integration with OpenAI APIs)"
Users should get task completion suggestions as they type in what they are going to do in the day.

[2022-10-04 11:18] aleksanderwalczuk commented on #52
Nice one. I think we should make a toggle/feature flag for that because of rate limits. https://help.openai.com/en/articles/5955598-is-api-usage-subject-to-any-rate-limits
WDYT?

[2022-10-04 12:03] pobrebobby opened #54 "UX Writing - Task vs Todo"
There are 3 instances of the word “task” and 2 instances of the word “todo”.

This can cause confusion to the user. Users like simple and concise action. We don’t want to confuse them.

The word “todo” is really not a widely used word. “To-do” is a more acceptable word.

<img width="1724" alt="Frame 6" src="https://user-images.githubusercontent.com/115002742/193814481-59d0f85a-6333-4771-8062-3ee53

[2022-10-04 12:11] SauveJeanLuc commented on #52
Yeah, you've got it right.
But what do u think, if this comes later?
I don't think we are going to have such a number of requests at this stage.

[2022-10-04 12:22] aleksanderwalczuk commented on #52
Good point.

[2022-10-04 14:58] abhishekpatil4 commented on #48
@aleksanderwalczuk Assign me this task, I'm a full-stack developer and will get it done in no time

[2022-10-04 15:56] aleksanderwalczuk commented on #48
You can go for it.

[2022-10-04 19:17] vaishnavi-nawghare commented on #54
I can work on this issue, will try to give my best in order to make user experience better

[2022-10-05 10:39] SauveJeanLuc commented on #54
@vaishnavi-nawghare , yup it's yours.

[2022-10-05 10:42] SauveJeanLuc commented on #52
@aleksanderwalczuk  Would you mind if I assign this issue to you?

[2022-10-05 10:47] #48 closed

[2022-10-05 11:49] pobrebobby commented on #19
If you need any help let me know.

[2022-10-05 11:54] SauveJeanLuc commented on #19
@pobrebobby, glad you've joined 🥂.

[2022-10-05 20:25] #36 closed

[2022-10-06 10:22] SauveJeanLuc opened #61 "Header part containing Add Task button and Select is not Responsive"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] This is bug in the application 🐛
- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository

**Describe the bug**
Buttons Add Task and S

[2022-10-06 10:31] SauveJeanLuc opened #62 "Add all contributors to README (using @all-contributors bot)"

[2022-10-06 10:37] SauveJeanLuc commented on #62
@all-contributors add @Tejax-v2 as for documentation

[2022-10-06 10:40] SauveJeanLuc commented on #62
@all-contributors add @Gismo1337 for tool

[2022-10-06 10:45] SauveJeanLuc commented on #62
@all-contributors add @thenishantsapkota for code

[2022-10-06 10:57] SauveJeanLuc commented on #61
@Olumarshal Yes, It's yours.

[2022-10-06 11:03] SauveJeanLuc opened #66 "Pop-Up has a wrong z-index on smaller screens"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] This is bug in the application 🐛
- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository

**Describe the bug**
Pop-Up is showing up b

[2022-10-06 11:04] SauveJeanLuc commented on #61
@adnansam110, would you mind taking #66 ?

[2022-10-06 11:27] Prakhar-Goyal-3014 commented on #61
#67 Please check my pull request the issue is solved

[2022-10-06 11:28] Abhyuday03 commented on #66
Hey I can work on this. Please assign it to me

[2022-10-06 11:28] adnansam110 commented on #61
@SauveJeanLuc Yeah Sure

[2022-10-06 11:43] adnansam110 commented on #66
@SauveJeanLuc Kindly assign this to me please

[2022-10-06 13:03] manassahoo-dev opened #68 "Replace JavaScript Alert Box with in place alert Message"
![image](https://user-images.githubusercontent.com/6974223/194319889-c4243642-a210-4669-a298-2bc1029f46a9.png)

[2022-10-06 13:05] bloodmonk7 commented on #68
Can I do this?

[2022-10-06 13:26] 2brownc commented on #68
I am interested to work on this. Can I be assigned this?

[2022-10-06 13:43] hertafui commented on #10
Can I join this? And where I can see the site map to know the pages requirement to build,  could you tell me more about the projects please?

[2022-10-06 14:57] pobrebobby commented on #19
<img width="6010" alt="Coffee Tasks v2" src="https://user-images.githubusercontent.com/115002742/194346947-4bef97c7-b238-4b59-b803-358d95b3d104.png">

[2022-10-06 15:02] ayush4345 opened #70 "Complete or incomplete tasks are not differentiable in list"
![Screenshot_2022-10-06-20-25-06-533_com.android.chrome.jpg](https://user-images.githubusercontent.com/99096397/194346704-83e46727-2b9a-41c3-ba1a-742cdb0f020a.jpg)

When we add task and whether we choose complete or incomplete in both case it task added look exactly same.

There should be difference between completed or incomplete tasks when we add them.

##  solution

1.I think either we should w

[2022-10-06 15:44] SahilAnower commented on #52
Is this open to take?

[2022-10-06 16:40] sarthakk24 opened #72 "Add responsiveness to the whole site"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [ ] responsiveness is not good at the moment

**To Reproduce** \
Steps to reproduce the behavior:
1. Go to browser console

**Possible solutions** (Optional) \
Add responsiveness using tailwind css

**Screenshots**
If applicable, add screenshots to help explain your problem.
![screencapture-coffeetas

[2022-10-06 16:42] sarthakk24 commented on #72
Alse if you want me to work on this issue please assign it to me and add the hacktoberfest tag
Thank you :)

[2022-10-06 20:04] SauveJeanLuc commented on #72
Isn't this a duplicate of #61 ?

[2022-10-06 20:06] SauveJeanLuc commented on #70
@ayush4345 , @IRSHIT033 , we are waiting for #19 to be able to work on this.
All current implementations are only for test purpose.

[2022-10-06 20:06] #68 closed

[2022-10-06 20:07] SauveJeanLuc commented on #68
@2brownc , A PR was already raised for this.
Hwvr, stay tuned, they are many more other issues under way

[2022-10-06 20:39] SauveJeanLuc commented on #52
Of course @SahilAnower

[2022-10-06 20:42] t-bello7 opened #75 "Convert application to a Progressive Web Application"
### Make the website more dynamic by implementing progressive application
In SAUVE Jean-Luc's words, To-Do List Apps are often underrated but a lot can be done by building one, from basic crud implementation to progressive web application implementation.
I would like to make the coffee-tasks application a progressive web for the following reasons:
- The coffee-tasks application can be accessible o

[2022-10-06 20:44] t-bello7 commented on #75
👍🏽  I would like to work on the issue @SauveJeanLuc

[2022-10-06 20:55] SauveJeanLuc commented on #5
@aritroCoder , by now I think the 2 are compete.
And we'll maybe have to wait for the design a little so as to know what to do next.

[2022-10-06 21:33] SauveJeanLuc commented on #62
@all-contributors add @rahulkarda for content

[2022-10-06 21:38] SauveJeanLuc commented on #62
@all-contributors add @SauveJeanLuc for maintainance, code, content, project management, idea, business and design

[2022-10-07 05:58] SahilAnower commented on #52
Hey Just wanted to clear that users should get suggestions just like gmail kind of when we write emails right? The textbox can be a bit larger otherwise it would be hectic for user to see the whole suggestion in one go.

[2022-10-07 13:04] SauveJeanLuc commented on #52
@SahilAnower , you can raise a PR for that no Prob. We'll review it as you progress

[2022-10-07 17:54] SauveJeanLuc commented on #62
@all-contibutors add @RichardHpa for code

[2022-10-07 17:56] SauveJeanLuc commented on #62
@all-contributors add @RichardHpa for code

[2022-10-07 17:58] SauveJeanLuc commented on #62
@all-contributors add @SauveJeanLuc for maintainance and code

[2022-10-07 17:58] SauveJeanLuc commented on #62
https://github.com/all-contributors add @SauveJeanLuc for maintenance

[2022-10-08 18:37] #3 closed

[2022-10-08 18:38] #5 closed

[2022-10-08 18:38] #15 closed

[2022-10-08 18:38] #42 closed

[2022-10-08 18:38] #61 closed

[2022-10-08 18:39] #72 closed

[2022-10-08 18:39] #70 closed

[2022-10-08 18:41] SauveJeanLuc opened #85 "List Tasks according to New Design"
Tasks or To-Dos should be listed according to the new design.

![image](https://user-images.githubusercontent.com/68426990/194722679-0197f1da-e934-4aa2-bc58-894c6f320418.png)

[2022-10-08 19:35] Snehil0603 commented on #85
@SauveJeanLuc I would like to work on it

[2022-10-08 19:43] SauveJeanLuc commented on #85
@Snehil0603 , Yup, It's yours.

[2022-10-08 22:59] RichardHpa opened #86 "Add Prettier into Project"
With so many people working on this project it would be good to add some automated formatting to make sure that all the code is formatted properly.

Currently alot of the merge conflicts are to do with formatting and this comes from each person using their own editors all with different settings.

Adding in prettier with and some rules for the repo will help with these merge conflicts and with the

[2022-10-09 02:28] SandeshGC opened #87 "Add a "Remove" icon to remove added tasks"
A "remove" feature is needed to remove the tasks from the list after adding. I suggest we use a remove icon svg at the right side of the task after the 'task-status' label.

- [x] This is bug in the application 🐛
- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the

[2022-10-09 04:39] Rinshin-Jalal opened #88 "There is no default value for status"
# Prerequisites

- [x] This is a bug in the application 🐛
- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository

**Describe the bug** \
![image](https://user-images.githubusercontent.com/88965873/194737489-66d51143-0c2e-4bad-817e-5626

[2022-10-09 04:45] Rinshin-Jalal commented on #87
There is no way to delete or edit or archive the todos

[2022-10-09 05:25] SandeshGC commented on #87
I can work on deleting the tasks. Assign it to me!

[2022-10-09 05:35] Rinshin-Jalal commented on #87
I'm not a maintainer

but this is already in development

#19

[2022-10-09 05:42] SandeshGC commented on #19
@SauveJeanLuc @Rick-mad-lab @pobrebobby  I have a suggestion.
Instead of clicking on the "options" icon to edit/delete a task, you could add icons like
![image](https://user-images.githubusercontent.com/59115123/194739952-41b6edaa-f67e-4d0e-a58b-bd65cae55746.png) for deleting task
and ![image](https://user-images.githubusercontent.com/59115123/194740008-a74612d1-cb3e-47dc-9ebf-aca03646692b.png) fo

[2022-10-09 05:43] SandeshGC commented on #87
The issue #19  is for Figma design, I am talking about adding actual functionalities to the page.

[2022-10-09 06:49] suryansh-bhatnagar commented on #54
@SauveJeanLuc  hey can i work on this??

[2022-10-09 09:26] pobrebobby commented on #54
Please take a look at - Pull Request - #82 Updated Figma file if you have any suggestions. Thanks

[2022-10-09 09:30] pobrebobby commented on #19
@SandeshGC @Rinshin-Jalal Please take a look at Pull Request #82 Updated Figma file if you have any suggestions. Thanks.

[2022-10-09 12:27] SauveJeanLuc commented on #86
Great idea @RichardHpa

[2022-10-09 12:29] SauveJeanLuc commented on #87
@SandeshGC #85, is only for listing.
You can do them both either way, if you will.

[2022-10-09 12:41] SauveJeanLuc opened #91 "Enter Key Press Should Add Task on Pop-Up"
While Adding a new task, the user should be able to add it by just pressing The Enter Key.

[2022-10-09 12:49] #19 closed

[2022-10-09 13:11] Satakshijain opened #93 "Want to add dark theme feature to it"

[2022-10-09 13:19] umeshchavda05 commented on #91
hi @SauveJeanLuc can i work on this?

[2022-10-09 13:23] SandeshGC commented on #85
@Snehil0603 are you adding the checkbox, remove icon and the edit icon too? Or, are you just working on the container and the list of tasks?

[2022-10-09 13:24] SandeshGC commented on #87
I was thinking of adding only the remove button for now as this issue is only about being able to remove the added tasks.

Ok then, I would like to add the icons with their functionalities. Let's wait for the reply on #85 and then you can assign it to me @SauveJeanLuc

[2022-10-09 14:18] yosaami commented on #93
I would like to contribute to this issue.

[2022-10-09 14:38] SauveJeanLuc commented on #93
Great, That's cool.
Especially if It will be an easter egg.
Something that will happen if you click on the App's logo.

[2022-10-09 14:39] SauveJeanLuc commented on #93
Yp, @yosaami and @Satakshijain go for it

[2022-10-09 14:40] SauveJeanLuc commented on #91
@umeshchavda05 yup it's yours.

[2022-10-09 14:45] SauveJeanLuc commented on #85
Just added them but with no functionality for this stage.
Their functionality will be another PR's  Job.

[2022-10-09 14:51] SauveJeanLuc commented on #54
Yp @suryansh-bhatnagar go for it.

[2022-10-09 15:24] yosaami commented on #93
hey @SauveJeanLuc , is there any discord server or somewhere I can share the progress and ask of changes? Also should I create any icon for the dark theme button?

[2022-10-09 15:27] SauveJeanLuc commented on #93
@yosaami ,
You can raise a PR for it, and I'll give you comments.
For the Icon, I prefer we'd use the app's logo just to make it a fun easter egg.

Discord https://discord.gg/

[2022-10-09 15:31] pobrebobby commented on #10
I would love to keep learning. Could I help?

[2022-10-09 16:43] SandeshGC commented on #85
@Snehil0603 I would like to know if you're working on it or not.

[2022-10-09 16:49] Snehil0603 commented on #85
@SandeshGC I am working on it

[2022-10-09 16:50] SandeshGC commented on #85
Ok, are you just adding the icons ? or the functionalities too?

[2022-10-09 17:33] yosaami commented on #93
okay sure, I can't join the discord.

[2022-10-09 18:10] SauveJeanLuc commented on #10
Yup, go for it @pobrebobby .

[2022-10-09 18:11] SauveJeanLuc commented on #10
@hertafui warm welcome as well.
Take a reference on Discussions. You'll see some information there.

[2022-10-09 21:16] #88 closed

[2022-10-09 22:39] Dbest2018 opened #97 "Toggle complete with radio button and add line through text to signify completion"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [ ] This is bug in the application 🐛
- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository

**Describe the bug** \
I went through the a

[2022-10-09 23:01] RichardHpa commented on #86
@SauveJeanLuc Just put up a PR for this. It kind of needs to be merged in next as it would cause all exisiting PR's to fail.

[2022-10-10 02:58] Znoy108x opened #100 "i can add restore / delete task functionality along with popup messages !!"

[2022-10-10 07:18] suryansh-bhatnagar commented on #54
Ok will give PR tonight.

[2022-10-10 08:31] Snehil0603 commented on #85
@SandeshGC I will not be adding functionalities

[2022-10-10 09:05] SandeshGC commented on #85
Okay, then I will start working after your PR is merged.

[2022-10-10 10:43] #91 closed

[2022-10-10 10:49] duyenle1312 opened #103 "Edit tasks' status does not exist"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] This is bug in the application 🐛
- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository

**Describe the bug** \
After I created a ne

[2022-10-10 11:42] adi-uchiha commented on #62
@all-contributors add @adi-uchiha for code

[2022-10-10 12:16] sisirdhakal commented on #62
@all-contributors add @sisirdhakal for code

[2022-10-10 12:24] sahilyeole commented on #62
@all-contributors add @sahilyeole for code

[2022-10-10 14:43] RohanKaran commented on #62
@all-contributors add @RohanKaran for code

[2022-10-10 14:48] Onyelaudochukwuka commented on #62
@all-contributors add @Onyelaudochukwuka

[2022-10-10 14:49] Onyelaudochukwuka commented on #62
@all-contributors add @Onyelaudochukwuka for code

[2022-10-10 15:59] Drex72 commented on #100
Can you assign me to this?

[2022-10-10 16:01] Drex72 commented on #103
Can i be assigned to this @SauveJeanLuc

[2022-10-10 17:19] ChahineBendjeddou commented on #62
@all-contributors add @ChahineBendjeddou  for code

[2022-10-10 21:54] RichardHpa commented on #86
Closed with #98

[2022-10-10 21:54] SauveJeanLuc commented on #100
This awaits #85 to be complete.

[2022-10-10 21:54] SauveJeanLuc commented on #103
This awaits #85 to be complete.

[2022-10-10 21:54] SauveJeanLuc commented on #97
This awaits #85 to be complete.

[2022-10-10 22:14] #86 closed

[2022-10-11 12:45] Dbest2018 commented on #97
thanks @SauveJeanLuc, does #85 cover delete, edit and toggle functionality as well

[2022-10-11 20:32] tanya172 opened #117 "Add a greeting card"
Hello, there!
I would like to add a greeting card with animation to the webpage when the user is visiting the webpage. This will enhance the UI/UX experience of the user.

Kindly assign me the issue and add the Hacktober label. @SauveJeanLuc

[2022-10-11 20:37] tanya172 opened #118 "Task completion appreciation."
Upon completion of the task, a pop-up box will be displayed to appreciate the user, motivating them to complete the task. This will enhance user engagement.

Kindly assign me the issue and add the Hacktoberfest label to it. @SauveJeanLuc

[2022-10-11 21:10] SauveJeanLuc commented on #118
@tanya172 .
You are right.
Something like this.
![image](https://user-images.githubusercontent.com/68426990/195198761-04d3c5e6-d9fd-49bc-a939-087e5ed72cb9.png)

1. Replacing the words with task appreciations words
2. Removing the buttons

[2022-10-11 21:11] SauveJeanLuc commented on #117
@tanya172, can you show an example of how the greeting card shall look like ?

[2022-10-11 21:12] SauveJeanLuc commented on #97
Nop @Dbest2018 It's just for listing.
But I've seen that #115 is handling  listing, deleting and toggling.

[2022-10-12 03:20] tanya172 commented on #117
A greeting card would wish the user according to the time . This feature
will add a good point and user engagement to the webpage

On Wed, Oct 12, 2022, 02:41 SAUVÉ Jean-Luc ***@***.***> wrote:

[2022-10-12 03:21] tanya172 commented on #118
Thank you for your response.!

On Wed, Oct 12, 2022, 02:40 SAUVÉ Jean-Luc ***@***.***> wrote:

[2022-10-12 18:31] #87 closed

[2022-10-12 18:32] SandeshGC commented on #85
I see that @adi-uchiha  and @Snehil0603 have done a great job. I will just unassign myself.

[2022-10-12 18:39] SauveJeanLuc commented on #117
I mean, a visual representation of what it will look like

[2022-10-13 05:16] gaber85 opened #122 "Add the initial TypeScript setup to begin using it in the repo"
I would love to work on implementing the initial Typescript setup so developers can start adding ts and tsx files.

Ideally, rather than using prop-types, TypeScript provides are more robust solution that will improve documentation and scalability.

Give me the go ahead and I'll add the setup and convert the existing code into TypeScript.

This should not interfere with those that would still like

[2022-10-13 05:20] gaber85 commented on #62
@all-contributors add @gaber85 for code

[2022-10-13 09:13] SauveJeanLuc commented on #122
That's a great idea @gaber85.
Go for it.

[2022-10-13 11:13] aritroCoder commented on #62
https://github.com/all-contributors add @aritroCoder for code

[2022-10-13 11:13] aritroCoder commented on #62
@all-contributors add @aritroCoder for code

[2022-10-13 14:58] #100 closed

[2022-10-13 14:58] #103 closed

[2022-10-13 15:19] Dbest2018 opened #125 "Bug: Dropdown options should not be editable"
![Screenshot (13)](https://user-images.githubusercontent.com/40031372/195636625-6148d9ff-0b1c-4ed3-b82e-73e8bfa213a4.png)
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x ] This is bug in the application 🐛
- [x ] I am running the latest version
- [x ] I checked the documentation and found no answer
- [x ] I checked to make sure that this issue h

[2022-10-13 16:23] BismeetSingh commented on #125
Hi, I would like to work on this, can you add the hacktoberfest label and assign it to me.

[2022-10-13 16:58] BrunoLagoa opened #126 "Bug: Strange behavior in select"
Strange behavior in select, showing an input with a blue border. If it makes sense to adjust, you can add this issue in my name to resolve.

<img width="255" alt="Captura de Tela 2022-10-13 às 13 55 46" src="https://user-images.githubusercontent.com/3878945/195658620-95d8c7f4-d5c6-49c6-acd4-304481ecbb29.png">

[2022-10-13 17:02] annupriy opened #127 "Adding Date and Time to Tasks"
We can add a date and time for each task. That will engage the user and will keep track of his/her tasks,
If you found it useful, please assign this to me.

[2022-10-13 17:48] Dbest2018 commented on #125
@BismeetSingh hmm, having it as a searchable is odd, but if it is a feature then this issue can be discarded

[2022-10-13 17:49] BismeetSingh commented on #125
All bugs are features 😆

[2022-10-13 20:09] SauveJeanLuc commented on #126
Great, @BrunoLagoa go for it.

[2022-10-13 20:10] SauveJeanLuc commented on #126
You can remove The Blue Border on Title Input as well.

[2022-10-13 20:12] SauveJeanLuc commented on #127
Can you give a visual representation of what it will look like?
Don't you think it can ruin the app's simplicity?

[2022-10-13 20:13] SauveJeanLuc commented on #126
This should tackle #125 as well.

[2022-10-13 21:22] BrunoLagoa commented on #126
ok, i will act on this adjustment.

[2022-10-14 07:57] #75 closed

[2022-10-14 08:03] #125 closed

[2022-10-14 08:03] #126 closed

[2022-10-14 12:05] 404-Terror opened #133 "Animated Front Page"
The website looks a bit simple....So i want to add some fancy animations using Framer Motion....I want to work under Hacktoberfest

[2022-10-14 13:53] SauveJeanLuc commented on #133
Animations are welcome. But we want the app to stay simple.
You might add the animations, but they don't have to be fancy either.

[2022-10-14 15:17] 404-Terror commented on #133
Okayy

Okayy...I'll start working on it✌️

[2022-10-14 18:06] #122 closed

[2022-10-14 18:07] SauveJeanLuc commented on #93
@yosaami are you working on it ?

[2022-10-14 19:20] annupriy commented on #127
You are right! Adding the date and time might make it look a little bit messy. How about adding a timer to every task? That will only take a small space in every taskbar.

[2022-10-15 05:28] hugekontrast commented on #118
I'd an idea. Why not confetti? In the colors of the app, https://confettijs.org/

[2022-10-15 05:40] hugekontrast commented on #93
I don't wanna hijack the issue. However, can I also work on it? I can help create the dark mode like https://hugekontrast.github.io/Spark/ , this is a project I'd made, https://github.com/hugekontrast/Spark

[2022-10-15 06:47] manassahoo-dev opened #134 "Delete a task should have a confirmation dialog"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [ ] This is bug in the application 🐛
- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository

**Describe the bug** \
Delete a task should

[2022-10-15 06:49] manassahoo-dev commented on #134
[Screencast from 15-10-22 12:12:57 PM IST.webm](https://user-images.githubusercontent.com/6974223/195973477-60df78f2-a911-47e1-a8bf-dafbff3bc3a2.webm)

[2022-10-15 20:23] SauveJeanLuc commented on #134
You are right,
Go for it @manassahoo-dev

[2022-10-15 20:32] SauveJeanLuc commented on #127
@annupriy , Like right clicking on task, see option to add timer, set minutes or hours, then a clock icon counting appears on the task.

That would be great. You can raise an issue for that. And If we'll need a design for that we'll raise in issue for it as well.

[2022-10-15 20:36] #10 closed

[2022-10-15 21:12] annupriy commented on #127
Sure

[2022-10-15 21:12] #127 closed

[2022-10-15 21:16] annupriy opened #136 "Adding timer to task bar"
As discussed, We can add a timer icon to the taskbars, which when tapped will show how much time is left for the user to complete their task.

We would also need to ask the user for a set time duration when they create a task.

[2022-10-16 06:59] gaber85 opened #138 "Add a description field in the todo"
I'd love to add a description field where the user can type essential notes or instructions about the particular task.

Essentially, the field would be directly underneath the title. It is an optional field where the user can type important information about the task. This field will follow the same pattern and behavior as the other existing inputs.

[2022-10-16 07:05] mnosov622 commented on #136
Hi @annupriy !

I would love to work on this issue.

Could you assign it to me, please ?

[2022-10-16 08:59] annupriy commented on #136
Hey @mnosov622! I am not the owner of this repository. @SauveJeanLuc and I discussed this issue in the previous thread and I created this issue to work on it.

You can definitely find another issue to work on.

[2022-10-16 12:44] Aditi-1709 opened #140 "Add priority option"
An option should be added to prioritise some tasks and I can work on it.

[2022-10-16 17:27] manassahoo-dev commented on #134
@SauveJeanLuc I am getting the error while running in my local machine.
![image](https://user-images.githubusercontent.com/6974223/196049340-fdf3446e-86e4-4f35-b8cb-8f6c1956d293.png)

[2022-10-16 19:29] rodrigoodev opened #141 "Bug layout app not match with figma"
App:
![image](https://user-images.githubusercontent.com/64027203/196054231-149e88b0-68e8-4daa-a326-c5e08636ac5b.png)

Figma:
![image](https://user-images.githubusercontent.com/64027203/196054248-363daec8-fa9b-4d38-8446-c38859835dac.png)

The buttons have to stay in space between without padding

[2022-10-16 22:18] uKiJo commented on #134
I added the feature, take a look at the pull request!

[2022-10-17 05:57] t-bello7 opened #144 "Add Drag-and-Drop Option for the the task list to set priorities"
## Title
Add Drag-and-Drop Option for the task list to set priorities

## Requested Changes
- add a drag-and-drop option on the task lists to set priorities on what to be done first
- adding a new task should remain the first task on the list

[2022-10-17 13:54] SauveJeanLuc commented on #134
remove node_modules and redo npm i

[2022-10-17 14:09] SauveJeanLuc commented on #136
@annupriy what do you mean by the task bar for the app?
Do you mean this timer will apply for all tasks ?

[2022-10-17 14:12] SauveJeanLuc commented on #141
@rodrigoodev  What do you personally find good between the two as a user and why if u don't mind me asking ?

[2022-10-17 14:12] SahilSingh177 commented on #136
No, the timer will show the time remaining in the task whose deadline is the nearest. And as soon as it reaches the deadline an alert will be given.

[2022-10-17 14:12] SauveJeanLuc commented on #144
Great idea, go for it @t-bello7

[2022-10-17 14:14] SauveJeanLuc commented on #140
Don't you think it's a duplicate of #144?
Do you have anything different in mind ?

[2022-10-17 14:15] annupriy commented on #136
No, I meant that a timer will be shown for the task whose deadline is the nearest and as soon as it reaches the deadline an alert will be given to the user.

[2022-10-18 20:22] SauveJeanLuc commented on #136
Great,

Great, go for it.

[2022-10-19 17:12] divya-nshi opened #149 "Bug: Empty names are valid while adding tasks"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] This is bug in the application 🐛
- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository

**Describe the bug** \
Able to add empty st

[2022-10-20 09:53] #138 closed

[2022-10-21 10:03] divya-nshi commented on #62
@all-contributors add @divya-nshi for code

[2022-10-21 11:14] divya-nshi commented on #144
@SauveJeanLuc can i try this?

[2022-10-21 11:20] divya-nshi commented on #93
@SauveJeanLuc  As there's still no response from the previous Assignees Can i add the dark mode? only if u don't mind

[2022-10-21 13:24] #141 closed

[2022-10-21 13:38] lukel43 opened #152 "Add "in progress" option to status options"
I noticed there is only a complete and incomplete option when choosing a status for tasks. I think adding an in progress option could be useful for larger tasks, and better organization of a larger list of tasks. I would also be able to do it myself. Thanks!

[2022-10-21 15:42] adam-weiler commented on #152
Hello! Could you please assign this to me so that I can work on it? Also please add the "hacktoberfest" label on it so that I can get a credit towards it. Thanks!

[2022-10-21 18:17] lukel43 commented on #152
I was hoping that I could tackle this one, given that it is my suggestion. Perhaps, we can let @SauveJeanLuc decide?

[2022-10-22 10:19] #140 closed

[2022-10-22 10:21] SauveJeanLuc commented on #152
Don't you think that it's going to ruin the app's simplicity in some ways?
Do you have a creative approach that will lead to the user not having a long list of status to choose ?

[2022-10-22 10:24] #134 closed

[2022-10-22 10:37] #52 closed

[2022-10-22 10:38] Khushi-design-20 commented on #118
Hey, is this completed?
If not, what needs to be done?

[2022-10-22 10:38] SauveJeanLuc opened #153 "Provide AI suggestions while creating a new Task (Integration with OpenAI APIs)"
Users should get task completion suggestions as they type in what they are going to do in the day.

[2022-10-22 11:34] Khushi-design-20 opened #154 "Design changes in Figma"
Hi, I just looked at your Figma file and would like to make some design changes.

[2022-10-22 14:21] SauveJeanLuc commented on #154
Go for it,
And share the link to your figma with changes

[2022-10-22 14:24] SauveJeanLuc commented on #93
@divya-nshi yup go for it.

[2022-10-22 14:25] SauveJeanLuc commented on #93
@hugekontrast yup you can go for it.
as well as no PR has been raised for it yet.

[2022-10-22 14:26] #54 closed

[2022-10-22 14:27] #117 closed

[2022-10-22 14:28] SauveJeanLuc commented on #118
@hugekontrast ,
That's a great idea.

Raise a PR for this.

[2022-10-22 14:29] SauveJeanLuc commented on #133
@404-Terror  are you still working on them ?

[2022-10-22 14:30] SauveJeanLuc commented on #136
@annupriy are you still working on this ?

[2022-10-22 14:30] SauveJeanLuc commented on #144
@divya-nshi, go for it.

[2022-10-22 14:37] hugekontrast commented on #93
Yes sir.

[2022-10-22 15:29] adam-weiler commented on #152
Oops, my bad! I misunderstood.

Please work on your idea, I will look for something else.

[2022-10-22 16:42] hugekontrast commented on #118
Okay sir.

[2022-10-22 20:52] Khushi-design-20 commented on #154
Should I share my Figma file link in a PR?

[2022-10-22 21:14] SauveJeanLuc commented on #154
Yup

[2022-10-24 04:25] hugekontrast commented on #118
### How does this looks?
- I've completed the design only confetti and making-it-work is left.
![task completed](https://user-images.githubusercontent.com/44055846/197448225-97e4d2eb-cb66-4fe6-a9f2-fe0937b51a43.png)

[2022-10-24 06:48] RenithaK opened #157 "Design Enhancement using Figma"
I would like to enhance the design by adding a banner.

[2022-10-24 11:36] RenithaK commented on #157
@SauveJeanLuc Kindly assign me this issue

[2022-10-25 13:34] mohdaakib commented on #153
@SauveJeanLuc please assign me this issue

[2022-10-26 15:21] lukel43 commented on #152
I think having a third option wouldn't decrease simplicity much. The statuses of "complete", "incomplete", and "in progress" cover every possibility so there is no chance of complexity creep either. Perhaps we could have the order of the tasks auto sort by status? I'm not sold on this solution but it may keep complexity at a minimum

[2022-10-29 18:16] jenistenxavier opened #162 "Automatic update to Dependencies using Dependabot."
Using outdated packages raises security concerns and updating the packages is an essential step. But this step can be automated.
Updates to packages can no longer need to be a manual task. Dependabot can be used to identify the dependencies that have update and it can raise a PR.

[2022-11-04 04:18] divyanshraj0408 commented on #62
@all-contributors add @divyanshraj0408  for documentation